@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";


@font-face{
    font-family: Yrsa;
    src: url(/fonts/Yrsa-Regular.ttf);
};
@font-face{
    font-family: Madison;
    src: url(/fonts/Avenue\ de\ Madison.ttf);
};

@theme{
    --font-yrsa: Yrsa, "sans-serif";
    --font-madison: Madison, "sans-serif";
    --color-royal: rgba(255,206,132,1);
}